@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Caveat:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caprasimo&family=Caveat:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */
/* @tailwind components; */
@tailwind utilities;
/* @tailwind components; */


@theme {

  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;

  --breakpoint-xs: 320px;

  /* Hero font  */
  --font-lato: "Lato", sans-serif;
  --font-caprasimo: "Caprasimo", sans-serif;

  

  @keyframes scrollX {
    from {
      transform: translateX(0);
    }
    to {
      transform: translatex(-50%);
    }
  }

  @keyframes colorChange {
     0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
  }

  @keyframes spin {
    100%{
      transform: rotate(-360deg)
    }
  }

  @keyframes spinRight {
    100%{
      transform: rotate(360deg)
    }
  }

  --animate-colorChange: colorChange 1s infinite;
  --animate-scrollX: scrollX 20s linear infinite;
  --animate-spin: spin 15s linear infinite;
  --animate-spinRight: spinRight 7s linear infinite;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --fill-text-color: #0a0a0a;
    --fill-logo-color-1: #0a0a0c;
    --fill-logo-color-2: #D4AF37;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-anchor-text: var(--anchor-text);

  --shadow-light: var(--shadow-light);
  --shadow-dark: var(--shadow-dark);
  --color-footer-secondary: var(--footer-secondary);
  --color-navbar: var(--navbar);

  --color-gradient-color1: var(--gradient-color1);
  --color-gradient-color2: var(--gradient-color1);

  --color-gradient-glass: var(--gradient-glass);

  --color-gradient-content: var(--gradient-content);

}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --background-secondary: oklch(94.007% 0.00011 271.152 / 0.9);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(83.455% 0.04549 275.634);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);

  --anchor-text: oklch(40.939% 0.1872 262.701);
  --shadow-light: oklch(0% 0 0 / 0.1);  /* Black with 10% opacity */
  --shadow-dark: oklch(0% 0 0 / 0.05); /* Black with 5% opacity */

  --footer-secondary: oklch(89.865% 0.01402 258.447);
  --navbar: oklch(89.865% 0.01402 258.447);

  --gradient-color1: oklch(92.494% 0.00011 271.152);
  --gradient-color2: oklch(98.511% 0.00011 271.152);

  --gradient-content: linear-gradient(
    120deg,
    oklch(92.494% 0.00011 271.152),
    oklch(98.511% 0.00011 271.152)
  );

  --gradient-glass: linear-gradient(
    135deg,
    hsl(220 27% 8% / 0.4),
    hsl(220 27% 8% / 0.1)
  );
  

}

.dark {
  /* --background: oklch(0.129 0.042 264.695); */
  --background: oklch(11% 0.02 242);
  /* --foreground: oklch(0.984 0.003 247.858); */
  --background-secondary: oklch(18.264% 0.00204 286.052 / 0.9);
  --foreground: oklch(99% 0.01 242);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
  --shadow-light: oklch(100% 0 0 / 0.05); /* White with 5% opacity */
  --shadow-dark: oklch(100% 0 0 / 0.02); /* White with 2% opacity */

  --footer-secondary: oklch(37.2% 0.044 257.287);
  --navbar: oklch(24.634% 0.00884 255.648);

  --gradient-color1: oklch(8.117% 0.01935 242.232);
  --gradient-color2: oklch(43.529% 0.00167 285.893);

  --gradient-content: linear-gradient(
    0deg,
    oklch(8.117% 0.01935 242.232),
    oklch(43.529% 0.00167 285.893)
  );

  --gradient-glass: linear-gradient(
    135deg,
    hsla(220, 8%, 72%, 0.4),
    hsla(213, 31%, 94%, 0.1)
  );

} 

 @layer base {
  /* :root{
    color-scheme: dark;
  } */
  * {
     @apply border-border outline-ring/50; 
  }
  body {
    @apply bg-background text-foreground; 
  }
}


@layer utilities {
  .card-height_500{
    @apply h-[500px]
  }
  .card-wrapper
  {
    @apply relative w-[100%]  rounded-[10px] bg-gradient-to-r from-slate-900 to-slate-800 overflow-hidden hover:cursor-pointer hover:shadow-[0_0_3px_theme('colors.slate.200'),0_0_10px_theme('colors.slate.700')] transition-all duration-300
  }

  .card-heading{
    @apply relative w-[100%] h-[150px] rounded-[10px] bg-gradient-to-r from-background to-background-secondary overflow-hidden hover:cursor-pointer hover:shadow-[0_0_3px_theme('colors.slate.200'),0_0_10px_theme('colors.slate.700')] transition-all duration-300

  }

  .card-border{
    @apply border-[1px] border-gray-700
  }
  .card-wrapper::before{
    background: conic-gradient(
      rgba(248, 164, 164, 0.8) 0deg,
      rgba(189, 126, 253, 0.9) 10deg,
      transparent 40deg
    );
    @apply absolute h-[175%] w-[175%] left-[-50%] top-[-50%] content-[''] animate-spin blur-xl
  }
  
  .card-heading::before{
    background: conic-gradient(
      rgba(255, 215, 0, 0.2) 0%,      /* Bright Gold */
      rgba(255, 239, 150, 0.5) 25%,   /* Highlight */
      rgba(255, 215, 0, 1) 50%,      /* Bright Gold */
      rgba(197, 179, 88, 0.5) 75%,    /* Shadow */
      rgba(255, 215, 0, 0.2) 100%   /*  Bright Gold */
    );
    @apply absolute h-[1200%] w-[1200%] top-[-550%] left-[-550%] content-[''] animate-spinRight 
  }

  .card-content{
    @apply absolute w-[calc(100%-2px)] h-[calc(100%-2px)] top-[1px] left-[1px] hover:w-[calc(100%-4px)] hover:h-[calc(100%-4px)] hover:top-[2px] hover:left-[2px] p-5 py-5 bg-gradient-to-br from-gradient-color1 via-primary-foreground to-gradient-color2  rounded-[10px]
  }

  .card-heading-content{
    @apply absolute w-[calc(100%-2px)] h-[calc(100%-2px)] top-[1px] left-[1px] hover:w-[calc(100%-4px)] hover:h-[calc(100%-4px)] hover:top-[2px] hover:left-[2px] p-5 py-5 bg-gradient-to-br from-gradient-color1 to-gradient-color2 rounded-[10px]
  }

  .marker{
    @apply absolute top-[250px] w-[97%] h-[20px] hidden md:block
  }

  .marker::before{
    @apply absolute content-[''] w-[100%] h-[2px] top-[50%]  bg-gradient-to-br from-slate-300 to-slate-600
  }

  .marker span{
    @apply absolute w-[20px] h-[20px] rounded-full bg-gradient-to-br from-slate-300 to-slate-500
  }
  .marker span::before{
    @apply absolute content-[''] w-[calc(100%-4px)] h-[calc(100%-4px)] left-[2px] top-[2px] rounded-full bg-background
  }
  .marker span:nth-child(1){
    @apply lg:left-[calc(100%/4-100%/8)]
  }
  .marker span:nth-child(2){
    @apply left-[calc(100%/4-100%/8+25%)]
  }
  .marker span:nth-child(3){
    @apply left-[calc(100%/4-100%/8+50%)]
  }
   .marker span:nth-child(4){
    @apply left-[calc(100%/4-100%/8+75%)]
  }

  .shadow-upwards-mode{

    box-shadow: 0 -10px 15px -3px var(--shadow-light),
                0 -4px 6px -2px var(--shadow-dark);
  }

  .shadow-downwards-mode{

    box-shadow: 0 10px 15px -3px var(--shadow-light),
                0 4px 6px -2px var(--shadow-dark);
  }
}