.ourstory{
    position: relative;
    margin: 0 auto;
    padding: 2em;
    background:#10121b;
    /* text-align: center; */
    border-radius: 10px;

  }

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
 }

  .ourstory:hover::after, .ourstory:hover:before{
    content: '';
    box-sizing: content-box;
    display: block;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    /* background-image: conic-gradient(#ff4545, #ff0095, #00ff99,#006aff,#ff4545); */
    background-image: conic-gradient(from var(--angle), rgba(0,0,255,0) 70%, blue);
    padding: 3px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 0;
    border-radius: 10px;
    opacity: 20%;
    animation: 3s spin linear infinite;
  }
  .ourstory:hover::before{
    filter: blur(1.5rem);
  }

  @keyframes spin {
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
    
  }

  .ourstory1{
    position: relative;
    margin: 50px auto;
    width: 600px;
    height: 400px;
    background-color: #000;
    border-radius: 20px;
    /* clip-path: inset(10px round 20px ); */

    &:after, &:before{
      position: absolute;
      content: '';
      box-sizing: content-box;
      border-radius: 20px;
      padding: 5px;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      
      animation: spin 3s linear infinite;
      z-index: -1;
    }
    &:after{
      /* background: linear-gradient(var(--angle), transparent 25%, #ff0088 85%); */
      background: conic-gradient(from var(--angle), rgba(0,0,255,0) 95%,#00ff88)
    }
    &:hover:before{
      background: conic-gradient(from calc(360deg - var(--angle)),#0088ff, rgba(0,0,255,0) 5%);
    }
  }

.svg text{
  font-size: 4rem;
  stroke-width: 1;
}

.svg text.textBody{
  stroke: var(--fill-text-color);
   
  animation: 10s infinite alternate animateFill;
}

@keyframes animateFill {
  0%{
    fill: transparent;
    stroke: var(--fill-text-color);
    stroke-dashoffset: 50%;
    stroke-dasharray: 0 60%;
  }
  50%{
    fill: #2A3439;
    stroke: var(--fill-text-color);
    stroke-width: 1;
    stroke-dashoffset: 0%;
    stroke-dasharray: 50% 60%;
  }
  80%,
  100%{
    fill: var(--fill-text-color);
    stroke: var(--fill-text-color);
    stroke-width: 1;
    stroke-dashoffset: -50%;
    stroke-dasharray: 60% 60%;
  }
}

.svgLogo text{
  /* position: absolute;
  margin-top: 1.25rem; */
  
  stroke-width: 1;
}

.svgLogo text.textBody:nth-child(1){
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.25rem;
  fill: var(--color-blue-950);
  animation: 3s infinite linear alternate animateLogo;
  z-index: 2;
}

.svgLogo text.textBody:nth-child(2){
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.75rem;
  stroke: var(--fill-logo-color-2);
  animation: 3s infinite alternate animateFill;
  animation-delay: 6s;
  z-index: 1;
}

@keyframes animateLogo {
  0%{
    /* fill: transparent; */
    stroke: var(--fill-logo-color-2);
    stroke-dashoffset: 90%;
    stroke-dasharray: 0 90%;
  }
  50%{
    /* fill: #2A3439; */
    stroke: var(--fill-logo-color-2);
    stroke-width: 1.5;
    stroke-dashoffset: 0%;
    stroke-dasharray: 50% 20%;
  }
  80%,
  100%{
    /* fill: var(--fill-text-color); */
    stroke: var(--fill-logo-color-2);
    stroke-width: 1.5;
    stroke-dashoffset: 90%;
    stroke-dasharray: 100% 90%;
  }
}